html {
    --navbar-height: 55px;
    scroll-padding-top: calc(var(--navbar-height) + 1rem);
}

#multi-page-nav {
    width: 100%;
    height: var(--navbar-height);
    z-index: 10;
    padding: 0 1rem;
    position: sticky;
    display: flex;
    top: 0;
    background-color: #282f2f;
    border-bottom: 1px solid #5e6d6f;
}

#multi-page-nav #nav-items {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
}

#multi-page-nav #multidoc-toggler {
    display: none;
    margin-left: auto;
    font-size: 24px;
    height: var(--navbar-height);
    padding: 0;
    fill: white;
    cursor: pointer;
    border: none;
    background: none;
    padding-inline: none;
}

#multi-page-nav #multidoc-toggler > svg {
    line-height: unset;
    width: 24px;
    height: 24px;
}

#multi-page-nav>* {
    display: inline-block;
}

#multi-page-nav .brand {
    margin-right: 1.5rem;
    height: var(--navbar-height);
}

#multi-page-nav .brand img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    max-height: calc(var(--navbar-height) - 10px);
}

#multi-page-nav .nav-item {
    padding: 0 0.75rem;
    line-height: var(--navbar-height);
    font-size: 14px;
    display: inline-block;
    margin: 0;
}

#multi-page-nav .dropdown-label {
    cursor: pointer;
    color: #ccc;
    text-transform: uppercase;
    border: none;
    text-align: left;
    background: none;
    padding: 0 12px;
}

#multi-page-nav .nav-expanded .dropdown-label {
    text-decoration: underline;
}

#multi-page-nav .dropdown-label::after {
    content: "";
    margin-left: 5px;

    /* caret down */
    display: inline-block;
    vertical-align: 0.2em;
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}

#multi-page-nav .nav-expanded .dropdown-label::after {
    /* caret up */
    border-top: 0;
    border-bottom: .3em solid;
}

#multi-page-nav .dropdown-label:hover {
    color: #fff;
}

#multi-page-nav .nav-dropdown-container {
    background-color: #485353;
    border: 1px solid #5e6d6f;
    border-radius: 5px;
    margin-top: -5px;
    line-height: 30px;
    padding: 5px 0;

    position: absolute;
    display: none;
}

#multi-page-nav .nav-dropdown-container .nav-item:hover {
    background-color: #282f2f;
}

#multi-page-nav .nav-expanded .nav-dropdown-container {
    display: block;
}

#multi-page-nav .nav-mega-dropdown-container {
    width: 100vw;
    left: 0;
    padding: 1em 2em;
    border-radius: 0;
    border: none;
    margin-top: 0;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

#multi-page-nav .nav-mega-dropdown-container .nav-mega-column {
    margin: 1em 2em;
}

#multi-page-nav .nav-mega-dropdown-container .column-header {
    color: #fff;
    font-size: 16px;
    padding: 5px;
    margin: 0;
    text-transform: uppercase;
}

#multi-page-nav .nav-expanded .nav-mega-dropdown-container {
    display: grid;
}

#multi-page-nav .nav-dropdown-container a.nav-link {
    color: #ccc;
    line-height: 30px;
    padding: 0 1em;
    text-transform: none;
    width: 100%;
}

#multi-page-nav .nav-dropdown-container a.nav-link:hover {
    color: #fff;
}

#multi-page-nav a.nav-link {
    color: #ccc;
    text-transform: uppercase;
}

#multi-page-nav a.nav-link:hover {
    color: #fff;
}

#multi-page-nav a.active.nav-link {
    color: #fff;
    font-weight: bold;
}

#multi-page-nav .column-content {
    padding: 0;
}

/* Documenter css tweaks */
.docs-sidebar  {
    padding-top: calc(var(--navbar-height) + 1rem) !important;
}

.docs-sidebar {
    top: 0;
}

@media screen and (max-width: 1055px) {
    #multi-page-nav {
        position: sticky;
        top: 0;
        padding: 0 1rem;
        height: unset;
        min-height: var(--navbar-height);
        transition-property: top, box-shadow;
        -webkit-transition-property: top, box-shadow;
        transition-duration: 0.3s;
        -webkit-transition-duration: 0.3s;
    }

    #multi-page-nav #nav-items {
        flex-direction: column;
        margin-top: 1.5em;
        flex-wrap: nowrap;
    }

    #multi-page-nav .hidden-on-mobile {
        display: none!important;
    }

    #multi-page-nav .nav-item {
        line-height: unset;
        padding: 0 0 1em 0;
        width: 100%;
    }

    #multi-page-nav #multidoc-toggler {
        display: inline-block;
    }

    #multi-page-nav.headroom--not-top {
        box-shadow: 0.2rem 0rem 0.4rem #bbb;
        transition-duration: 0.7s;
        -webkit-transition-duration: 0.7s;
    }

    #multi-page-nav.headroom--unpinned.headroom--not-top.headroom--not-bottom {
        top: -100vh;
        transition-duration: 0.7s;
        -webkit-transition-duration: 0.7s;
    }

    #multi-page-nav .nav-dropdown-container {
        position: relative;
        margin-bottom: 1em;
    }

    #multi-page-nav .nav-mega-dropdown-container {
        width: unset;
        padding: 1em;
    }

    #multi-page-nav .nav-mega-dropdown-container .nav-mega-column {
        margin: 1em;
    }

    #documenter .docs-main header.docs-navbar.headroom--unpinned.headroom--not-top.headroom--not-bottom {
        top: -100vh;
    }
    
    #documenter .docs-main header.docs-navbar {
        top: var(--navbar-height);
    }
}

